@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Header/Navbar style */

.navbar {
  width: 100%;
  height: 40px;
  background-color: black;
  position: sticky !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.5rem 3rem !important;
  font-size: 1.3rem !important;
  top: 0;
}

/* Footer style */
.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  position: absolute !important;
  transition: all 0.3s ease-out 0s !important;
  padding-bottom: 10px;

}

/* Homepage style */

.homepagebackground {
  width: 100%;
  min-height: 100vh;
  background-image: url(../media/background.png);
  background-size: cover;
  padding-top: 50px;

}
.row {
  padding-top: 20px;

}


.headtext {
  padding-top: 120px;
  font-size: 2.4em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.nametext {
  font-size: 2em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.imagedeveloper {
  margin-top: 10px;
  max-width: 350px;
  height: 200px;
  background-image: url('../media/homepage.png');
  background-size: cover;
  background-position: center;
}
.socailmediabtn {
  margin-top: 2rem;
  width: 90px;
  height: 45px;
  background-color: transparent;
  color: #dadada;
  border: none;
  border-radius: 15px;
}
.socailmediabtn:hover {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  opacity: 0.6;
}
.icon {
  font-size: 30px;
}

@media (max-width: 767px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
  }
  .row {
    padding-top: 50px;
  }
  .headtext {
    padding-top: 100px;
    font-size: 2em !important;
  }
  .nametext {
    font-size: 2.4em !important;
  }
  .imagedeveloper {
    margin-top: 50px;
    max-width: 420px;
    max-height: 400px;
  }
  .socailmediabtn {
    margin-top: 1rem;
  }
}

/* Resume style */
.resumebackground {
  width: 100%;
    min-height: 100vh;
    background-image: url(../media/background_resume.png);
    background-size: cover;
  padding-top: 50px;
}
.resumeheader {
  padding-top: 120px;
  font-size: 2em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.resumetext {
  font-size: 1.5em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
h3 {
  font-size: 1.3em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

p {
  font-size: 1em !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.uwlogo{
  width: 100px;
  height: 100px;
}
.jaclogo{
  width: 300px;
  height: 70px;
}

img {
  margin: 20px;
}


/* Contactpage Style */
.contactbackground {
  width: 100%;
  min-height: 100vh;
  background-image: url(../media/background.png);
  background-size: cover;
  padding-top: 50px;
}
.contacthead {
  color: #ffffff !important;
  padding-top: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.contactpara {
  color: #ffffff !important;
  padding-top: 1rem;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-family: 'Poppins';
}
.contactbtn {
  color: #ffffff !important;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: solid 2px;
  background-color: transparent;
  letter-spacing: 2px;
}
.contactbtn:hover {
  background-color: rgba(112, 112, 112, 0.2);
}
/* .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-family: 'Poppins';
} */
.copyright span {
  font-weight: 700;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .contactpara br {
    display: none;
  }
}

