/* Specific styles for non-active links */
.link-inactive {
    color: #b6b0b0
    }
    /* Specific styles for active links */
    .link-active {
    color: rgb(255, 0, 0);
    
    }

    .link-inactive:hover{
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
        opacity: 0.6;
    }